.container {
    margin: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template: 50vh 50vh/repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}